# Dependencias de Node
/node_modules/

# Archivos de construcción (build)
/dist/

# Archivos de configuración locales del IDE
.vscode/
.idea/

# Archivos de configuración de sistema operativo
.DS_Store
Thumbs.db

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos temporales de IDE
*.swp
*.swo

# Archivos de caché
*.cache
